{block content}
<div class="row">
	<div class="col-12 py-5 text-center">
		<h1>Best site to explore some great Chuck Norris jokes.</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="tile">
			{control meme}
		</div>
	</div>
</div>
