{block content}
<div class="row">
	<div class="col-12 py-5 text-center">
		<h1>Best site to explore some great Chuck Norris jokes.</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="tile">
			<h2 class="text-center">Chuck Norris meme generator</h2>
			{control meme}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="tile">
			<h2 class="text-center">Same initials display</h2>
			{control initialsTable}
		</div>
	</div>
</div>

